*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
  }
    .login_container
    {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 30%;
    text-align: center;

  }
  
  .login_form{
    height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
  }

  
  .login_container .login_box .login_content
  {
    /* position: relative; */
    left: 0;
    padding: 2rem 3rem;
    background: rgba(209, 205, 205, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 15px rgba(197, 187, 187, 0.523);
    border-radius: 8px;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(245, 239, 239, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
    z-index: 1;
    transform: 0.5s;
    color: #fff;
  }
  
  .login_container .login_box .login_content h2
  {
    font-size: 2rem;
    margin-bottom: 10px;
  }
   .login_content p
  {
      font-size: 1rem;
    margin-bottom: 10px;
    line-height: 1.4em;
  }
   .login_login
  {
    display: inline-block;
    font-size: 1em;
    color: white;
    box-shadow: 0 5px 15px rgba(197, 187, 187, 0.523);
    /* background: #fff; */
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    text-decoration: none;
    font-weight: 700;
    margin-top: 5px;
    border: none;
}
  
  .loginform{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  
  .login_container input{
      margin-top: 1rem;
      margin-bottom: 1rem;
      box-shadow: 0 5px 15px rgba(197, 187, 187, 0.523);
      padding: 0.5rem 1.5rem;
        color:white;
      border-radius: 20px;
      border: none;
  }
  .login_bottom{
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
  }
  .login_register{
      text-decoration: none;
      color: #ff0058;
  }
  .login_link{
      text-decoration: none;
      color: rgb(103, 103, 218);
  }
  .login_logo{
      width: 11rem;
      height: 8rem;
      padding-left: 1rem;
      padding-top: 2rem;
  }